img.wrapper
{
	display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}
table
{
	position: absolute;
	right:560px;
	top:200px;
	background-color: white;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
	padding-top: 15px;
}
		td.a
		{
			color:grey;
			font-size:20px;
			padding-left:150px;
		}
		td.b
		{
			padding-left:16px; 
		}
		td.c
		{
			color: grey;
			font-size: 15px;
			padding-left: 16px;
			padding-top: 30px;
		}
		a.a
		{
			text-decoration:none;
			color:#84C1FF;
		}
		a.b
		{
			color: #84C1FF;
			font-size: 12px;
			margin-left: 150px;
		}
		a.c
		{
			color: #84C1FF;
			font-size: 12px;
			margin-left: 80px;
			cursor:pointer;
		}
		input.a
		{
			padding-right: 144px;
			padding-left: 144px;
			padding-top: 10px;
			padding-bottom: 10px;
			background-color: red;
			color: white;
			margin-left: 16px;
			border: 0;
			font-size: 15px;
			cursor:pointer;
		}
		input.b
		{
			height: 30px;
			width: 300px;
			display: block;
			margin: 16px;
			padding: 5px;
		}
		input.c
		{
			text-size:12px;
			padding-left: 12px;
			margin-left: 16px;
			margin-bottom: 10px;
		}
		input.d
		{
			height: 30px;
			width: 300px;
			display: block;
			margin-top: 16px;
			margin-left: 16px;
			margin-bottom: 5px;
			padding: 5px;
		}
		.bg
		{
			background-position:center;
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-size:cover;
		}